 /* --------------------------              LOGIN           ------------------------- */


body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("./img/fondo00.jpeg");
    background-size: cover;
}

#title-login {
    font-size: 80px;
}

#container-form {
    text-align: center;
    padding: 20px;
    border: solid;
    border-color: rgb(41, 41, 41);
    border-radius: 5px;
    position: absolute;
    width: 17%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.829);
    color: white;
    box-shadow: 5px 10px 10px rgba(211, 211, 211, 0.596);
}

#text-login {
    margin-bottom: 50px;
}

#form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input-password, #input-user {
    margin: 5px;
    width: 90%;
    margin-bottom: 30px;
    text-align: center;
    font-size: 15px;
    padding: 5px;
}

#button-submit {
    width: 80%;
    height: 30px;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
#button-submit:hover {
    background-color: rgb(165, 165, 165);
    }

#home {
    background-image: url("./img/fondoHome.jpg");
}

#btn-volver {
    background-color: black;
    padding: 10px;
    text-decoration: none;
    text-transform: none;
    color: white;
}

#btn-volver:hover {
    background-color: rgb(165, 165, 165);
}

#title-login {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

    